<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.kimhauser.cordova.kickstartwebsite" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>kimhauser.ch</name>
    <description>
        A kick-start cordova application for websites
    </description>
    <author email="kim@kimhauser.ch" href="http://kimhauser.ch">
        Kim David Hauser
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <icon src="fa-mobile_256_bw_2.png" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-inappbrowser" spec="~1.2.1" />
    <plugin name="cordova-plugin-spinner-dialog" spec="~1.3.1" />
</widget>
